* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
  }
nav{
    background-color: #808080;
    display: flex;
    padding: 20px;
    align-items: center;
    color: aliceblue;
    justify-content: space-between;
    font-size: large;
}
ul{
    display: flex;
    list-style: none;
    align-items: center;
    font-size: 30px;
    justify-content: space-between;
    gap: 30px;
    
}
    
.foto{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0 90px;
    padding: 60px;
}
body{
    background-color: rgb(211, 210, 210);
}